/* dileep css */

.missing_log .card .card_div{
    display: flex;
    justify-content: space-between;
}
.missing_log .card .card_div a button{
    margin-left: 0px;
}
.right_section form .edit_button{
    display: flex;
}
.right_section form .edit_button button{
   margin-right: 10px;
}

.user_leaves .leave_date{
    display: flex;
}

@media only screen and (max-width : 480px) {
    .leave_div .card .card-title{
        flex-direction: column;
    }
}

@media only screen and (max-width : 991px) {
    .edit_profile_row .avtar{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .edit_profile_row .right_section{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
    }
    .right_section form{
        padding: 15px;
    }
    .right_section form .row{
        display: flex;
        flex-direction: column;
    }
    .right_section form .row .left_content{
       width: 100%;
    }
    .right_section form .row .left_content label{
        float: left;
        margin-bottom: 0px;
    }
    .right_section form .row .right_content{
        width: 100%;
    }
}

@media only screen and (max-width : 481px) {
    .edit_profile_row{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width : 550px) {
    .user_leaves .leave_date{
        flex-direction: column;
    }
    .user_leaves .leave_date .select_date select{
        margin-left: 0px !important;
        margin-right: 10px;
    }
    .user_leave_row .user_leave_table .card-body .dataTables_wrapper :nth-child(2) .col-sm-12{
        overflow: auto;
    }
}