/* Load External Resources */
@import url(bootstrap.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Load Internal Resources */
@import url(common.css);
@import url(color.css);
@import url(ladda.min.css);
@import url(typeaheadjs.css);
@import url(icheck/blue.css);

/* Main */
html, body {
    height: 100%;
}
body{
    font-family:Roboto;
    font-size:14px;
    font-weight:400;
    webkit-font-smoothing:antialiased;
}

body.body-home{
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

body.body-gray{
    background: #F9F9F9;
}

body.body-gray{
    background: #F9F9F9;
}

body.body-signup{
    background: url(../images/signup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;      
}

.full{
    min-height: 100%;
    height: 100%;
}
.overlay{
    position:relative;
}
.overlay:before{
    position:absolute;
    top:-2px;
    left:0;
    z-index:0;
    width:100%;
    height:100%;
    background:-webkit-linear-gradient(top,#030305 0,rgba(0,0,0,0) 100%);
    background:linear-gradient(to bottom,#000 0,rgba(0,0,0,0) 100%);
    content:'';
    opacity:.8;
}

.main-panel,
.main-panel-companies{
    background: #FFF;
    border:1px solid #EEE;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;    
    padding: 0;
}
.main-panel-companies{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
}


.hero{
    height:100vh;
    min-height:480px;
    moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    webkit-transform-style:preserve-3d;
}
h1, h2, h3, h4{
    font-family: Montserrat;
    font-weight:700;
    letter-spacing: -1px;
}


/* Header - Menu */
.icon-bar{
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
}
.top-animate {
    background : #aaa !important;
    top : 13px !important;
    -webkit-transform: rotate(224deg);
    transform: rotate(224deg);
    transform-origin: 62% 100%;
    -webkit-transform-origin: 62% 100%;
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    background : #aaa !important;
    top: 13px !important;
    -webkit-transform: rotate(-221deg);
    transform: rotate(-221deg);
    transform-origin: 62% 0%;
    -webkit-transform-origin: 62% 0%;
    margin-top: 0px !important;
}
#slider{
    background: #050505 !important;
    color: #999;
    z-index: 999999999 !important;
    background-color: #E6E6E6;
    padding: 20px;      
}
#slider img{
    border:none;
}
.nav{
        border: 0 !important;
}
.nav-menu li h3{
    font-size:14px;
    text-transform: uppercase;
    padding: 20px 0 0 0;
}
.nav-menu li a{
    padding:5px 0;
    border-bottom: 1px solid #333;
    color: #FFF;
    display: block;
}
.nav-menu li a:hover{
    color: #CCC;
    text-decoration: none;
}
.navbar-fix{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar{
    font-family: Montserrat;   
    font-weight: 400; 
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;
}
.navbar-main{
    font-family: Montserrat;   
    font-weight: 400; 
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;
    padding:3px 0 4px 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    background: #FFF;
}
.navbar-main .navbar-brand,
.navbar-main .navbar-brand:hover{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top:8px;
    padding-right: 30px;
}
.navbar-main .navbar-brand-controlpanel,
.navbar-main .navbar-brand-controlpanel:hover{
    padding-right: 100px;
}
.navbar-main .navbar-brand img{
    height:36px;
}
.navbar-main .navbar-toggle {
    background-color: #FFF;
    border: none;
}
.navbar-main .navbar-toggle:hover,
.navbar-main .navbar-toggle:focus {
    background-color: #FFF;
    border: none;
}
.navbar-main .navbar-toggle .icon-bar {
    background-color: #999;
}
.nav-form{
    padding:4px 0 0 0;
    margin:0;
}
.nav-form .form-control {
    /*width: 100% !important;*/
}
.nav-form .selectize-input,
.nav-form .selectize-input:focus{
    background:#EEE !important;
    border:none !important;
    height:44px;
    border-radius:0 !important;
    box-shadow:none !important;
}
.nav-form .selectize-input .item{
    margin-top:6px;
}
.nav-form .selectize-dropdown{
    background:#FFF!important;
    border:none !important;
    position:absolute;
    top:20px;
    border:none !important;
    border-radius:0 !important;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.nav-form input,
.nav-form input:focus{
    background:#EEE !important;
    border:none !important;
    height:30px;
}
.nav-form .btn,
.nav-form .btn:active,
.nav-form .btn:hover,
.nav-form .btn:focus,
.nav-form .btn:link,
.nav-form .btn:visited{
    background: #EEE;
    border:none !important;
    color: #333;
    padding: 10px 15px;
    height:44px;
    top:-2px!important;
}


/* Nav Items */
.nav-main li{
    padding-top: 4px;
    color:#999;    
}
.nav-main li a{
    color:#999;
    padding:12px 15px 12px 15px;
}
.nav-main li a:hover{
    color:#333;
    background: none;
}
.nav-main li a:hover, 
.nav-main li a:focus, 
.nav-main .open a, 
.nav-main .open a:hover, 
.nav-main .open a:focus {

}

.nav-main>li>a:hover, .nav-main>li>a:focus, 
.nav-main .open>a, .nav-main .open>a:hover, 
.nav-main .open>a:focus {
    background:#fff;
}
.dropdown {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.dropdown-menu .divider{
    background: none;
    border-bottom: 1px solid #EEE;
}
.dropdown-menu li a {
    color:#333;
    padding:1px 0;
}
.dropdown-menu li a:hover {
    text-decoration: underline;
}    
.dropdown ul.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow:none;
    margin-top:21px;
    min-width:200px;
    padding:20px;    
    border:none;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}    

/* Homepage */


.home-main{
    padding-top: 175px;
}
.home-main h1{
    font-family: Montserrat;
    font-size:42px;
    font-weight:700;
    letter-spacing: -1px;
    color:#FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.home-main .form-home-search{
    margin:0 0 20px 0;
}
.home-main .selectize-input,
.home-main .selectize-input:focus{
    border:none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-border-radius: 1px!important;
    -moz-border-radius: 1px!important;
    border-radius: 1px!important;
    height:44px!important;
    font-family: Montserrat;
}
.home-main .selectize-input input,
.home-main .selectize-input input:focus,
.home-main .selectize-input input:active,
.home-main .selectize-input input:link{
    height:33px!important;
}

.home-main .selectize-input .item{
    margin-top:6px;
}

.home-main .selectize-dropdown{
    background:#FFF!important;
    border:none !important;
    position:absolute;
    top:20px;
    border:none !important;
    border-radius:0 !important;
    font-family: Montserrat;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.home-main .form-home-search button.btn-search{
    background: #2B98E3;
    color:#000;
    border:1px solid #2B98E3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;  
    height:47px;  
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 61px;
    text-align: center;
    opacity: .75;
    font-size: 32px;
}
.scroll-btn a{
    color: #FFF !important;
}
.scroll-btn a:hover{
    color: #000 !important;
}

// Homepage - Tabs

.home-tab-content .nav-tabs{
    font-family: Montserrat;
    margin:0 !important;
    padding: 0;
    border: 0 !important; 
    background:none;
    z-index: 0;    
}
.home-tab-content .nav-tabs li{
    border: 0 !important;
    margin:0 !important;
}
.home-tab-content .nav-tabs li a,
.home-tab-content .nav-tabs li a:active,
.home-tab-content .nav-tabs li a:hover,
.home-tab-content .nav-tabs li a:focus,
.home-tab-content .nav-tabs li a:link,
.home-tab-content .nav-tabs li a:visited{
    background:#2B98E3;
    border-top:2px solid #2B98E3 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    color:#000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    margin:0 !important;
    width:100% !important;
}

.home-tab-content .nav-tabs li.active a,
.home-tab-content .nav-tabs li.active a:active,
.home-tab-content .nav-tabs li.active a:hover,
.home-tab-content .nav-tabs li.active a:focus,
.home-tab-content .nav-tabs li.active a:link,
.home-tab-content .nav-tabs li.active a:visited{
    color:#FFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E50B4', endColorstr='#3E50B4', GradientType=1 );
    border-top:2px solid #2B98E3 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    margin:0 !important;
}
.tab-content li a{
    color:#E9EAEB;
}


//  Section - Recruiters
.home-recruiters{

}
.home-recruiters h2{
    color:#000;

}
.home-featured{
    color:#000;
}

/* Listing Page */
.listing-page-main{

}
.listing-page-main h1,
.listing-page-main .record-counter{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color:#333;
    padding: 0 !important;
    margin: 0 !important;
}
.listing-page-main .record-counter{
    font-size: 16px;
}
 
.listing-page-main h3 a{ 
    color:#333;
    padding: 0;
}
.listing-page-main .img-thumbnail{
    border-radius: 1px;
    border-color: #eee;
}
.listing-page-main .date{
    font-size:12px;
    color: #ccc;
    margin:5px 0 0 0 !important;
}
.listing-page-filter{
    background: #FFF;
    border:1px solid #EEE;
    border-right:0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
    padding: 0;
    margin:0; 
    -webkit-box-shadow: inset -5px 0px 10px 0px rgba(0,0,0,0.025);
    -moz-box-shadow: inset -5px 0px 10px 0px rgba(0,0,0,0.025);
    box-shadow: inset -5px 0px 10px 0px rgba(0,0,0,0.025); 
}

.listing-page-job,
.listing-page-job-ad{
    padding: 25px 15px;
    border-bottom: 1px solid #EEE;
}
.listing-page-job h3,
.listing-page-job-ad h3{
    margin:0 0 2px 0 !important;
    padding: 0 !important;
    font-size: 24px;
    letter-spacing: -1px;
}
.listing-page-job p,
.listing-page-job-ad p{
    margin:0 !important;
}
.listing-page-job-particulars{
    margin: 0 0 5px 0;
    padding:0;
}
.listing-page-job-particulars li{
    margin:0;
    padding: 0;
    font-family: Montserrat;
    color:#999;
}
.listing-page-job-particulars li strong{
    color:#000;
}
.listing-page-job-particulars-extra{
    padding: 0;
    margin: 5px 0 0 0;
}
.listing-page-job-particulars-extra li{
    padding: 0;
    margin: 0 5px 0 0;
    font-family: Montserrat;
}
.listing-page-job-particulars-extra li a{
    color:#666;   
}
.listing-page-job-ad{
    background: #EEE;
}
.listing-page-alert{
    color: :#EEE !important;
    clear:both !important;
}
.listing-page-alert input.form-control{
    width: 100%;
}
.listing-page-alert h3{
    font-family: Montserrat;   
    letter-spacing: -1px;  
    color: :#CCC !important;
    padding: 0 0 10px 0 !important;
    margin: 0 !important;
    color: #FFF;
}
.listing-page-alert-disclaimer{
    font-family: Montserrat; 
    font-size: 12px;
    color: :#FFF;
    padding: 5px 0 0 5px;
    margin: 0;
    line-height: 100%;
}
.mypagination > li > a,
.mypagination > li > span {
  color:#000 !important;
}
.mypagination > li > a:hover,
.mypagination > li > span:hover {
  background:#F5F5F5;
  border-color:#CCC;
}
.mypagination > li:first-child > a,
.mypagination > li:first-child > span {
  /*margin-right: 10px;*/
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mypagination > li:last-child > a,
.mypagination > li:last-child > span {
  /*margin-left: 10px;*/
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mypagination > li.active > a,
.mypagination > li.active > span {
  background:#EEE;
  padding:6px 13px;
  border-color:#CCC;
}
.mypagination > li.active > a:hover,
.mypagination > li.active > span:hover {
  background:#F5F5F5;
  padding:6px 13px;
  border-color:#CCC;
}
 
.main-panel .selectize-input,
.main-panel .selectize-input:focus{
    background:#FFF !important;
    border:1px solid #EEE !important;
    height:34px;
    border-radius:0 !important;
    box-shadow:none !important;
}
.main-panel .selectize-input .item{
    margin:0;
}
.main-panel .selectize-dropdown{
    background:#EEE!important;
    border:none !important;
    position:absolute;
    border:none !important;
    border-radius:0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}
.main-panel .selectize-dropdown,
.main-panel .selectize-dropdown .single,
.main-panel .selectize-dropdown .selectize-dropdown-content{
    width: -moz-calc(100% - 0.5px)!important;
    width: -webkit-calc(100% - 0.5px)!important;
    width: calc(100% - 0.5px)!important;
}


/* company page */
.company-header {
    background: rgb(222,239,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(43, 152, 227, 1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(43, 152, 227, 1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(43, 152, 227, 1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(43, 152, 227, 1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(43, 152, 227, 1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(43, 152, 227, 1) 0%,rgba(152,190,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}
.company-header-image{
    margin:-30px 0 0 0 ;
    position: relative;
}

.company-header-content h1{
    font-family: Montserrat;
    font-size:32px;
    font-weight:700;
    letter-spacing: -1px;
    padding: 5px 0 0 0;
    margin: 0 0 5px 0;
    line-height: 125%;
}

/* companies page - company navigation */
.navbar-company{
    background: #000;
    border:none !important;
}

.navbar-company li a{
    color: #FFF !important;
}
.navbar-company li a:hover{
    color: #2B98E3 !important;
}

.navbar-company .navbar-toggle {
    background-color: #000;
    border: none;
}

.navbar-company .navbar-toggle:hover,
.navbar-company .navbar-toggle:focus {
    background-color: #000;
    border: none;
}

.navbar-company .navbar-nav li.active,
.navbar-company .navbar-nav li.active a{
    background: #2B98E3 !important;
}
.navbar-company .navbar-nav li.active:hover,
.navbar-company .navbar-nav li.active a:hover{
    color: #000 !important;
}



.company-content{

}
.company-content h2{
    font-size: 24px;
}
.company-content h3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing:-1px;    
}

.company-featured{
    
}

.company-featured h3{
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: #333;
}

.company-featured{
    
}


/* Footer */
.full {
    width: 100%;	
}
.footer {
    background: #2B98E3;
    height: auto;
    padding-bottom: 60px;
    position: relative;
    width: 100%;
    z-index: 0;
}
.footer h3 {
        font-family: Montserrat;
    font-weight: 700;
    letter-spacing:-1px;
    padding: 40px 0 0 0;
    color: #000;
}
.footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #A6ABAE;
}
.footer ul li a {
    padding: 0 0 3px 0;
    display: block;
}
.footer a {
    color: #EEE;
}
/* Footer - Newsletter */
.footer input.form-control,
.footer input.form-control:active,
.footer input.form-control:focus,
.footer input.form-control:hover,
.footer input.form-control:link,
.footer input.form-control:visited,
.footer .btn-newsletter,
.footer .btn-newsletter:active,
.footer .btn-newsletter:focus,
.footer .btn-newsletter:link,
.footer .btn-newsletter:visited,
.footer .btn-newsletter:hover{
    border:none !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}
.footer .btn-newsletter,
.footer .btn-newsletter:active,
.footer .btn-newsletter:link,
.footer .btn-newsletter:visited,
.footer .btn-newsletter:focus,
.footer .btn-newsletter:hover{ 
    background:#2072AA;
    color:#000;
    border:none !important;
}

/*Footer - Social Networks*/
.footer .social li a{
    background: none repeat scroll 0 0 #2072AA;
    border: 2px solid #2072AA;
    float: left;
    height: 40px;
    font-size:22px;
    line-height: 36px;
    margin: 0 4px 0 0;
    padding: 0;
    text-align: center;
    width: 40px;
    color: #000;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.footer .social li:last-child a{
    margin:0;
    right:0;
}
.footer .social li a:hover {
    border: 2px solid #2072AA;
    background: transparent;
}
.footer .social li a i {
    margin: 0;
    padding:0;
    color: #EDEFF1 !important;
}

.btn-recruiting{
    background: #2072AA;
    color: #FFF;
    width:100%;
    position:fixed;
    float:right;
    bottom: 5px;
    right: 7px;
    width:175px;
    clear:both; 
    z-index: 999;
}

.btn-back-to-top {
    background:#000 !important;
    color: #fff !important;
    cursor: pointer;
    position: fixed;
    float:right;
    bottom: 55px;
    right: 7px;
    clear:both;     
    display:none;
    z-index: 999;    
}


/* custom */
.nav-custom{

}
.nav-custom li{

}
.nav-custom li a{
    background:none!important;
    border:1px solid #EEE;
}
.nav-custom li a:hover{
    background:#EEE!important;
}
.nav-custom li.active a{
    background:#EEE!important;
}

.btn-gray{
    background:#EEE!important;
}
.btn-gray:hover{
    background:#CCC!important;
}

/* third parties */
.chars {
    color:#ccc
}
.maxLimit {
    color: #C00;
}
.minLimit {
    color: #F90;
}

.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}

.symbol-empty {
  background-color: #ccc;
}

.symbol-filled {
  background-color: black;
}

/* hacks */
.paginate_button,
.paginate_button:hover{
    border:none!important;
}

.limited-text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;
   max-height: 32px;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}
 
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .home-main{
        padding-top: 110px;
    }
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar .navbar-brand,
    .navbar .navbar-brand:hover{
        padding-top:7px;
    }
    .home-main{
        padding-top: 75px;
    }
    .nav-tabs{
        margin:0 !important;
    }
    .nav-tabs li{
        border:none;
        margin:0 !important;
        padding: 0;
    }
    .nav-tabs li a,
    .nav-tabs li a:active,
    .nav-tabs li a:hover,
    .nav-tabs li a:focus,
    .nav-tabs li a:link,
    .nav-tabs li a:visited,
    .nav-tabs li.active a,
    .nav-tabs li.active a:active,
    .nav-tabs li.active a:hover,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:link,
    .nav-tabs li.active a:visited{
        margin:0 !important;
        text-align: left;    
    }

    section h2{
        font-size: 24px;
    }

    .copyright {
        height: 104px;
    }
    .btn-recruiting{
        bottom: 0;
        left: 0;      
        width:100%;
    }

    .btn-back-to-top {
        bottom: 0;
        right: 0;
    }    

    .btn{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;    
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .overlay:before{
        position:absolute;
        top:-2px;
    }    
    h1{
        font-size:32px;
        text-align: center;
    }
    #home-tabs{
        
    }
    #f li{
        width:50%;
        float: left;
    }    
    .home-main{
        padding-top: 30px;
    }
    .tt-menu-home{
        padding:20px 0;
        margin:0;
    }    
    .tt-menu-home input{
        margin-bottom: 1px;
    }

    .companies-header-details h1{
        font-size:24px;
    }
}

@media only screen and (max-width : 320px) {

}


