#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top:0;
    margin: 55px 0 0 0;    
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    min-height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #EEE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;  
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}
#sidebar-wrapper {
    top:55;  
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-nav {
    position: absolute !important;
    top: 0 !important;
    width: 250px;
    margin: 0 !important;
    padding: 0 !important;
}
.sidebar-nav li {
    padding:0 !important;
    margin: 0 !important;
    list-style: none;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0;
    font-family: Montserrat;
    font-weight:700;    
}
.sidebar-nav li.active a,
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,0.7);
}
.sidebar-nav .sidebar-brand{
    background: #000;
    top:0 !important;
    padding:0 !important;
}
.sidebar-nav .sidebar-brand img.img-thumbnail{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #eee;
    padding: 0 !important;
    margin: 0 0 1px 0 !important;
    border:none !important;
}
.sidebar-nav .sidebar-brand p.sidebar-brand-user-title{
    color:#FFF;
    padding: 10px 0 0 0!important;
    margin: 0 !important;
    font-family: Montserrat;
    font-size: 16px;
}
.sidebar-nav .sidebar-brand p{
    font-family: Roboto;
    font-size: 10px;
    color: #999;
    padding: 0 !important;
    margin: 0 !important;
}
.btn-logout{
    bottom:0;
    left: 0;
    background: #000;
    color: #999 !important;
    position: fixed;
    width: 250px;
    padding: 10px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0;
}
.btn-logout:hover{
    background: #2B98E3;
    color: #000 !important;
}


/* main area */
.user-dashboard-widget-holder{

}
.user-dashboard-widget-holder h2{
    padding: 8px 10px;
    margin: 0;
    background: #EEE;
    font-size: 24px;
}
.user-dashboard-widget-holder ul{
    padding: 0;
    margin: 0;
}

/* widget tables */
.user-dashboard-widget-holder .table{

}
.user-dashboard-widget-holder table.dashboard-table td{
    border-color: #F5F5F5;
}
.user-dashboard-widget-holder table.dashboard-table tr:first-child td{
    border:none;
}

/* widget box sizes */
.user-dashboard-widget-box{
    min-height: 292px;
}
.user-dashboard-widget-box-wide{
    min-height: 220px;
}
/* user widget job listing */
.user-dashboard-widget-job-list{
    
}
.user-dashboard-widget-job-list a{
    font-family: Montserrat;
    font-size:16px;
    font-weight: 700;
    color: #000;
}
.user-dashboard-widget-job-list span.date{
    font-size:12px;
    color: #999;
}
.user-dashboard-widget-job-list span.location{
    color: #999;
}

/* user jobs page */
.user-jobs-tabs{

}
.user-job-holder{
    background:#FFF;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.user-job-holder .table{
    font-family: Montserrat;    
}
.user-job-holder .table td{
    border:none !important;
    text-align: left; 
}
.user-job-holder .table tr.active td{
    margin: 1px 0;
}
.user-job-holder .table td p{
    padding:0;
    margin: 0;
}
.user-profile-contact-holder{
    background:#EEE;
}
.user-profile-contact-holder .btn-default{
    background:#e5e5e5;
    font-size: 16px;
}
.user-profile-contact-holder .btn-default:hover{
    background:#ccc;
}
.user-profile-contact-panel{
    background: #f5f5f5;
    border-top:none;
}
dl.dl-user-contact{
    clear:both;
}
dl.dl-user-contact dt{
    font-size: 16px;
    width:25% !important;
    float:left;
    padding: 1px 0;
}
dl.dl-user-contact dd{
    width:75% !important;
    float:right;
    padding: 2px 0;
    font-size: 15px;
}
.user-profile-work-holder{
    margin: 0 0 20px 0;
}
.user-profile-work-holder h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}
.user-profile-work-holder h4{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 5px 0;
    color: #999;
}
.user-profile-work-holder h5{
    font-size: 18px;
    font-weight: 900;
    margin: 15px 0 5px 0;
}
.user-profile-work-holder .date{
    color: #999 !important;
}
.user-profile-work-holder .img{
    border:none !important;
    padding: 0;
    margin: 0;
}
.label-custom{
    font-size: 100% !important;
    line-height: 100%;
    background: #000;
    font-size: 14px;
    padding: 10px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0;    
}
.user-profile-publish-panel .panel-heading{

    border-bottom: 1px solid #f5f5f5 !important;
}
.user-profile-publish-panel .panel-heading h3{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}
.btn-pdf,
.btn-pdf:hover,
.btn-pdf:focus,
.btn-pdf:visited,
.btn-pdf:link{
    background:#2B98E3;
    padding:8px 13px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #sidebar-wrapper {
        top:20;
        overflow-y: auto;
    }
    .sidebar-nav .sidebar-brand p.sidebar-brand-user-title{
        padding: 10px 0 0 0!important;
        margin: 0 !important;
    }
    .sidebar-nav .sidebar-brand p{
        padding: 0 0 20px 0 !important;
    }
    .sidebar-nav .sidebar-brand a,
    .sidebar-nav .sidebar-brand a:hover{
        padding: 15px 0 0 0 !important; 
    }   
    dl.dl-user-contact dt{
        width:100% !important;
    }
    dl.dl-user-contact dd{
        width:100% !important;
    }
}