/*
    Colours
*/
.bg-gray-light{
    background:#E9EAEB;
}
.bg-blue{
    background:#2B98E3;
}
.bg-white{
    background:#FFF;
}
.bg-black{
    background:#000;
}
.opacity{
    background: rgba(68, 73, 76, 0.9);
    background: -moz-linear-gradient(left, rgba(68, 73, 76, 0.9) 0%, rgba(68, 73, 76, 0.9) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68, 73, 76, 0.9)), color-stop(100%, rgba(68, 73, 76, 0.9)));
    background: -webkit-linear-gradient(left, rgba(68, 73, 76, 0.9) 0%, rgba(68, 73, 76, 0.9) 100%);
    background: -o-linear-gradient(left, rgba(68, 73, 76, 0.9) 0%, rgba(68, 73, 76, 0.9) 100%);
    background: -ms-linear-gradient(left, rgba(68, 73, 76, 0.9) 0%, rgba(68, 73, 76, 0.9) 100%);
    background: linear-gradient(to right, rgba(68, 73, 76, 0.9) 0%, rgba(68, 73, 76, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44494C', endColorstr='#44494C', GradientType=1 );
}
.opacity-black{
    background: rgba(0, 0, 0, 0.7);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E50B4', endColorstr='#3E50B4', GradientType=1 );
}
.btn{
    font-family: Montserrat;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
}
.btn-default{
    background: #2B98E3;
    color:#000; 
}
.btn-black{
    background: #000;
    color:#FFF; 
}
.btn-black:hover{
    color:#2B98E3; 
}
.btn-default-transparent{
    background: transparent;
    border: 2px solid #2B98E3;
}
.text-info{
    color: #2B98E3;
}
.text-gray-light{
    color:#999;
}


.help-inline{
    font-size:12px;
}
.btn-indigo-transparent{
    background: transparent;
    border: 2px solid #2B98E3;
    color: #000;
}
.btn-indigo-transparent:hover{
    background: #2B98E3;
    border: 2px solid #2B98E3;
    color: #000;
}

.alert-blue{
    background: #2B98E3;
}