/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
    padding-right:0;
    padding-left:0;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
    padding-right:0;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
    padding-left:0;
}

/* input, textarea, select, label */
label{
    font-family: Montserrat;
    font-weight:700;  
}
input.form-control,
input.form-control:active,
input.form-control:focus,
input.form-control:hover,
input.form-control:link,
input.form-control:visited,
textarea.form-control,
textarea.form-control:active,
textarea.form-control:focus,
textarea.form-control:hover,
textarea.form-control:link,
textarea.form-control:visited,
select.form-control,
select.form-control:active,
select.form-control:focus,
select.form-control:hover,
select.form-control:link,
select.form-control:visited,
.btn,
.btn:active,
.btn:focus,
.btn:link,
.btn:visited,
.btn:hover{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input.form-control,
input.form-control:active,
input.form-control:focus,
input.form-control:hover,
input.form-control:link,
input.form-control:visited,
textarea.form-control,
textarea.form-control:active,
textarea.form-control:focus,
textarea.form-control:hover,
textarea.form-control:link,
textarea.form-control:visited,
select.form-control,
select.form-control:active,
select.form-control:focus,
select.form-control:hover,
select.form-control:link,
select.form-control:visited{
    border-color: #EEE;
    font-family: Montserrat;     
}

/* dl */
dl.dl-horizontal{

}
dl.dl-horizontal dt{
    text-align: left;
    font-family: Montserrat;   
    font-weight: 700;
}
dl.dl-horizontal dd{

}

/* image */
img.thumbnail{
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    border-color: #eee;
}

/* panel */
.panel,
.panel-default{
    background: none;
    border:none;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.panel-heading{
    background: #FFF !important;
    border:none !important;
    border-bottom: 1px solid #EEE;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;    
}
.panel-heading h1.panel-title{
    font-size: 32px;
}

.panel-body{
    background: #FFF;
}
.panel-footer{
    border:0;
}

/* alert */
.alert{
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px;
    border:0;
    font-family: Montserrat;
    font-weight:700;      
}

/* modal */
.modal,
.modal .modal-dialog,
.modal .modal-dialog .modal-content{
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.05);   
    font-family: Montserrat;
    border:none;
}
.modal .modal-dialog .modal-header{
    background: none;
    border-bottom:1px solid #F9F9F9;
}
.modal .modal-dialog .modal-footer{
    background: #F9F9F9;
    border:none;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px;    
}
.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

/* */
.pagination li {
    font-family: Montserrat;
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
    border:none;  
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;    
}


.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #000;
  background-color: #2B98E3;
  border-color: #2B98E3;
  cursor: auto;  
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #000;
  background-color: #f9f9f9;
  border-color: #eee;   
  cursor: auto;  
}

.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #000;
  background:#eee;
  border-color: #eee;   
  cursor: auto;  
}



.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #eee;
}

/* tabs */

.nav-tabs{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    border: 0 !important; 
    background:none;
    z-index: 0;    
}
.nav-tabs li{
    border: 0 !important;
    margin: 0 !important;
}
.nav-tabs li a,
.nav-tabs li a:active,
.nav-tabs li a:hover,
.nav-tabs li a:focus,
.nav-tabs li a:link,
.nav-tabs li a:visited{
    background:#2B98E3;
    border-top:2px solid #000 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    color:#000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: 900;
    font-size: 14px;
    margin: 0 !important;
    margin-right:-1px;
}

.nav-tabs li.active a,
.nav-tabs li.active a:active,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:link,
.nav-tabs li.active a:visited{
    background: #fff;
    color:#2B98E3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top:2px solid #2B98E3 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.nav-pills li a,
.nav-pills li a:active,
.nav-pills li a:hover,
.nav-pills li a:focus,
.nav-pills li a:visited,
.nav-pills li a:link{
    background:#2B98E3;
    border-radius: 1px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
}
.nav-pills li.active a,
.nav-pills li.active a:active,
.nav-pills li.active a:hover,
.nav-pills li.active a:focus,
.nav-pills li.active a:visited,
.nav-pills li.active a:link{
    background:#f0f0f0;
    border-radius: 1px;
    color:#000;
    font-weight: 700;
}

/* well */
.well{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;    
}

img.img-thumbnail{
    border-radius: 1px;
    border-color: #eee;
}
/* Borders, Margins and Paddings */
.bn{
    border:0;
}
.bt0{
    border-top: 0;
}
.bb0{
    border-bottom: 0;
}
.bl0{
    border-left: 0;
}
.br0{
    border-right:0;
}
.mn{
    margin: 0px;
}
.mt0{
    margin-top: 0px;
}
.mb0{
    margin-bottom: 0px;
}
.ml0{
    margin-left: 0px;
}
.mr0{
    margin-right: 0px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.ml5{
    margin-left: 5px;
}
.mr5{
    margin-right: 5px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mt15{
    margin-top: 15px;
}
.mb15{
    margin-bottom: 15px;
}
.ml15{
    margin-left: 15px;
}
.mr15{
    margin-right: 15px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mt30{
    margin-top: 30px;
}
.mb30{
    margin-bottom: 30px;
}
.ml30{
    margin-left: 30px;
}
.mr30{
    margin-right: 30px;
}
.mt40{
    margin-top: 40px;
}
.mb40{
    margin-bottom: 40px;
}
.ml40{
    margin-left: 40px;
}
.mr40{
    margin-right: 40px;
}
.mt50{
    margin-top: 50px;
}
.mb50{
    margin-bottom: 50px;
}
.ml50{
    margin-left: 50px;
}
.mr50{
    margin-right: 50px;
}
.mt55{
    margin-top: 55px;
}
.mb55{
    margin-bottom: 55px;
}
.ml55{
    margin-left: 55px;
}
.mr55{
    margin-right: 55px;
}
.mt60{
    margin-top: 60px;
}
.mb60{
    margin-bottom: 60px;
}
.ml60{
    margin-left: 60px;
}
.mr60{
    margin-right: 60px;
}
.mt70{
    margin-top: 70px;
}
.mb70{
    margin-bottom: 70px;
}
.mt80{
    margin-top: 80px;
}
.mb80{
    margin-bottom: 80px;
}
.mt90{
    margin-top: 90px;
}
.mb90{
    margin-bottom: 90px;
}
.mt100{
    margin-top: 100px;
}
.mb100{
    margin-bottom: 100px;
}
.mt250{
    margin-top: 250px;
}


/* Paddings */
.pn{
    padding: 0;
}
.pt0{
    padding-top: 0px;
}
.pb0{
    padding-bottom: 0px;
}
.pl0{
    padding-left: 0px;
}
.pr0{
    padding-right: 0px;
}
.pt5{
    padding-top: 5px;
}
.pb5{
    padding-bottom: 5px;
}
.pl5{
    padding-left: 5px;
}
.pr5{
    padding-right: 5px;
}
.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}
.pl10{
    padding-left: 10px;
}
.pr10{
    padding-right: 10px;
}
.pt15{
    padding-top: 15px;
}
.pb15{
    padding-bottom: 15px;
}
.pl15{
    padding-left: 15px;
}
.pr15{
    padding-right: 15px;
}
.pt20{
    padding-top: 20px;
}
.pb20{
    padding-bottom: 20px;
}
.pl20{
    padding-left: 20px;
}
.pr20{
    padding-right: 20px;
}
.pt30{
    padding-top: 30px;
}
.pb30{
    padding-bottom: 30px;
}
.pl30{
    padding-left: 30px;
}
.pr30{
    padding-right: 30px;
}
.pt40{
    padding-top: 40px;
}
.pb40{
    padding-bottom: 40px;
}
.pl40{
    padding-left: 40px;
}
.pr40{
    padding-right: 40px;
}
.pt50{
    padding-top: 50px;
}
.pb50{
    padding-bottom: 50px;
}
.pl50{
    padding-left: 50px;
}
.pr50{
    padding-right: 50px;
}
.pt60{
    padding-top: 60px;
}
.pb60{
    padding-bottom: 60px;
}
.pl60{
    padding-left: 60px;
}
.pr60{
    padding-right: 60px;
}
.pt70{
    padding-top: 70px;
}
.pb70{
    padding-bottom: 70px;
}
.pl70{
    padding-left: 70px;
}
.pr70{
    padding-right: 70px;
}
.pt80{
    padding-top: 80px;
}
.pb80{
    padding-bottom: 80px;
}
.pl80{
    padding-left: 80px;
}
.pr80{
    padding-right: 80px;
}
.pt90{
    padding-top: 90px;
}
.pb90{
    padding-bottom: 90px;
}
.pl90{
    padding-left: 90px;
}
.pr90{
    padding-right: 90px;
}
.pt100{
    padding-top: 100px;
}
.pb100{
    padding-bottom: 100px;
}
.pl100{
    padding-left: 100px;
}
.pr100{
    padding-right: 100px;
}

/* Fonts */
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24
font-size: 24px;
}
.white{
    color:#FFF !important;
}

/* select 2 override */

 .select2-container .select2-selection--single
{
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    padding-top:2px;
    height:34px;
    user-select:none;
    -webkit-user-select:none
}

.select2-dropdown
{
    background-color:#f9f9f9;
    border:1px solid #eee;
    border-radius:1px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
    top:4px;
}

.select2-container--default .select2-selection--single
{
    background-color:#fff;
    border:1px solid #eee;
    border-radius:1px
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
    background-color:#2B98E3;
    color:#fff
}
.select2-container--classic .select2-selection--single:focus
{
    border:1px solid #2B98E3
}

.select2-container--classic.select2-container--open .select2-selection--single
{
    border:1px solid #2B98E3
}
.select2-container--classic .select2-selection--multiple:focus
{
    border:1px solid #2B98E3
}
.select2-container--classic.select2-container--open .select2-selection--multiple
{
    border:1px solid #2B98E3
}
.select2-container--classic.select2-container--open .select2-dropdown
{
    border-color:#2B98E3
}


@media only screen and (max-width : 480px) {
    .nav-pills li.active a,
    .nav-pills li.active a:active,
    .nav-pills li.active a:hover,
    .nav-pills li.active a:focus,
    .nav-pills li.active a:visited,
    .nav-pills li.active a:link,
    .nav-pills li,
    .nav-pills li a,
    .nav-pills li a:active,
    .nav-pills li a:hover,
    .nav-pills li a:focus,
    .nav-pills li a:visited,
    .nav-pills li a:link{
        display:block;
        width:100%;
        clear:both;
        margin:0!important;
    }
}

